#delete-item-alert.material-alert
  .material-alert-warning
    span.ma-warning-long.line
    span.ma-warning-dot.line
  h2 ¿Estás seguro?
  p
    | La operación que intentas realizar no se puede deshacer. Piénsalo dos veces antes de borrar algo.
  button#dia-cancel.btn.btn-default Cancelar
  button#dia-delete.btn.btn-danger Eliminar
