body
  height 100%
  width 100%

.alert-notification
  position absolute
  top 5%
  left 50%
  transform translateX(-50%)
  max-width 768px
  z-index 2048

.page-title .action-buttons
  margin 9px 10px 9px
  float right

.page-title .action-buttons a i
  margin-right 10px

table .actions i
  margin-right 8px

@require login
@require animations
