.v-block
  position absolute
  top 50%
  left 0
  right 0
  transform translateY(-50%)

.login-block
  box-shadow 0.05rem 0.05rem 0.5rem gray
  padding 1rem
  border-radius 0.5rem
  max-width 250px
  margin 0 auto

.login-block .btn
  width 100%

.logo
  text-align center
  padding-bottom 40px

.logo img
  height 120px
