.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title(style='border: 0;')
      a.site_title(href='/admin') Web Jose
    .profile
      // img_2
      .profile_pic
        img.img-circle.profile_img(src='/img/user.jpg', alt='...')
      .profile_info
        span Welcome,
        h2 #{user.name}
    br
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        h3 &nbsp;
        ul.nav.side-menu
          li
            a
              i.fa.fa-home
              |  General
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/admin') Dashboard
          li
            a
              i.fa.fa-users
              |  Usuarios
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/admin/users') Todos
              li
                a(href='/admin/users/add') Nuevo usuario
          li
            a
              i.fa.fa-image
              |  Albums
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/admin/albums') Todos
              li
                a(href='/admin/albums/add') Nuevo album
